@charm-ux:registry=https://pkgs.dev.azure.com/charm-pilot/charm-pilot/_packaging/charm-feed/npm/registry/
//pkgs.dev.azure.com/charm-pilot/charm-pilot/_packaging/charm-feed/npm/registry/:username=azdo
//pkgs.dev.azure.com/charm-pilot/charm-pilot/_packaging/charm-feed/npm/registry/:_password=RnlvYlI4SGhoaW11alM0MTdXM0VtdndIRkZCbEp4eUJQa0pHWlBJVXg4bTNBYWZPTXBsNkpRUUo5OUNCQUNBQUFBQUFBcm9oQUFBU0FaRE80RDhB
//pkgs.dev.azure.com/charm-pilot/charm-pilot/_packaging/charm-feed/npm/registry/:always-auth=true
